body {
	min-height: 100vh;
	margin: 0;
	/* overflow: hidden; */
	font-family: Roboto, sans-serif;
	background-color: #0f1115;
	color: white;
	/* ----------- */
	display: flex;
	flex-direction: column;
	/* align-content: space-between; */
}

h1,
h2 {
	margin: 0;
	color: #ffffff;
}

h2 {
	padding: 16px 0;
}
ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: whitesmoke;
}

p {
	margin: 0;
}

.header {
	display: flex;
	/* background-color: #1a1c23; */
	justify-content: space-around;
	align-items: center;
	height: 72px;
	padding: 16px;
}

.links {
	display: flex;
	gap: 15px;
}

.hero {
	display: flex;
	justify-content: center;
	gap: 50px;
	align-items: center;
	padding: 50px;
}

.hero-text {
	width: 550px;
	margin: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 500px; */
	background-color: #2a2c36;
	padding: 32px;
}

.cards {
	display: flex;
	text-align: center;
	gap: 32px;
	padding: 50px;
}

.card {
	display: flex;
	width: 300px;
	flex-direction: column;
	gap: 10px;
}

.card img {
	border-radius: 5px;
}

.testimonial {
	/* height: 200px; */
	background-color: #1a1c23;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 55px 250px;
	font-size: 20px;
	font-weight: 100;
}

.cta {
	display: flex;
	justify-content: space-around;
	padding: 050px 300px;
	background-color: #2a2c36;
}

button {
	background-color: #9b6bff;
	/* flex-grow: 0; */
	flex-shrink: 0;
	height: 42px;
	width: 180px;
	padding: 8px 16px;
	border-radius: 8px;
	/* font-size: 16px; */
	border: none;
}

.cta button {
	align-self: flex-end;
}
.footer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	background-color: #1a1c23;
	padding: 16px;
	font-size: 12px;
}
